#zaglavlje{
background-color: #707070;
color:#d9e021;
height:128px;
font-size:72px;
}

body{
font-family: 'Orbitron', sans-serif;
background-color:#707070;
}

img{
height: 128px;
width: 700px;
vertical-align: -35px;
}

#navigacija{
	font-style: normal;
	font-weight:bold;
	text-decoration:none;
	padding:0px;
	margin-top:2px;
	margin-bottom:2px;
	float:left;
	width:100%;
}

#navigacija{
margin:0;
width:100%;
border-top: solid #d9e021;
border-bottom: solid #d9e021;
}

#navigacija li{
	height: 25px;
	width:8em;
	padding:3px;
	color:#2f3440 ;
	background-color:#707070;
	text-decoration:none;
	text-align:center;
	position:relative;
	display:inline-block;
	border-radius:1px;
	list-style-type:none;
	float:left;
}

#navigacija li #link{
	margin: 2px;
	width:100%;
	float:left;
	padding:1px;
	color:#2f3440;
	background-color:#d9e021;
	text-align:center;
	border-radius:1px;
    display:inline-block;
	height: 25px;
	padding-top: 0px;	
	padding-bottom: 0px;
}

#navigacija li a{
	color: #d9e021;
	text-decoration:none;
}

#lista_linkova {
	position:relative;
	margin-top:5px;
	float:left;

}

#links{
	position:relative;
	margin-top:5px;
	list-style-type:none;
	
}

#links li {
	padding:5px;
	background:url('emir logo1.png') no-repeat left top;
	padding-left: 34px;
}
#links li a{
	color: #d9e021;
	text-decoration:none;
}

#podnozje{
	font-family: 'Orbitron', sans-serif;
	font-size:12px;
	position: fixed;
    bottom: 0;
	text-align:center;
    margin-bottom: 5px;
    width: 100%;
}